@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@600&display=swap');
#navbar-primary.navbar-default {
    background: transparent;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
}

.navbar-nav {
        width: 100%;
        text-align: center;
}
.navbar-nav li {
            display: inline-block;
            float: none;
}
.navbar-nav a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}
.item-custom li a:hover{
    color: #0f0f0f;
}
